body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../CadastroAddItemLateral_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-6px;
    top:-6px;
    width:1025px;
    height:760px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1025px;
    height:760px;
}

.u1 {
    position:absolute;
    left:2px;
    top:372px;
    width:1021px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:22px;
    top:22px;
    width:143px;
    height:143px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:143px;
}

.u3 {
    position:absolute;
    left:2px;
    top:64px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../CadastroAddItemLateral_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:43px;
    top:240px;
    width:937px;
    height:466px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:943px;
    height:472px;
}

.u5 {
    position:absolute;
    left:2px;
    top:225px;
    width:933px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:620px;
    top:198px;
    width:196px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:844px;
    top:197px;
    width:136px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:43px;
    top:188px;
    width:551px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../CadastroAddItemLateral_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:94px;
    top:132px;
    width:789px;
    height:554px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:795px;
    height:560px;
}

.u10 {
    position:absolute;
    left:2px;
    top:269px;
    width:785px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../CadastroAddItemLateral_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:94px;
    top:625px;
    width:788px;
    height:61px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:794px;
    height:67px;
}

.u12 {
    position:absolute;
    left:2px;
    top:22px;
    width:784px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:664px;
    top:633px;
    width:200px;
    height:41px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:454px;
    top:634px;
    width:200px;
    height:41px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_normal {
    background-image: url('../CadastroAddItemLateral_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:94px;
    top:132px;
    width:788px;
    height:61px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:794px;
    height:67px;
}

.u16 {
    position:absolute;
    left:2px;
    top:22px;
    width:784px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:566px;
    top:216px;
    width:92px;
    height:40px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:122px;
    top:216px;
    width:454px;
    height:41px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:844px;
    top:144px;
    width:28px;
    height:32px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:110px;
    top:142px;
    width:329px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../CadastroAddItemLateral_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:382px;
}

.u21 {
    position:absolute;
    left:672px;
    top:223px;
    width:10px;
    height:382px;
    
}

.u22 {
    position:absolute;
    left:705px;
    top:212px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../CadastroAddItemLateral_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:692px;
    top:589px;
    width:180px;
    height:16px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:22px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../CadastroAddItemLateral_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:753px;
    top:244px;
    width:129px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:41px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:125px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:679px;
    top:243px;
    width:69px;
    height:67px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:67px;
}

.u28 {
    position:absolute;
    left:2px;
    top:26px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:108px;
    top:522px;
    width:167px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:282px;
    top:477px;
    width:167px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:282px;
    top:298px;
    width:167px;
    height:167px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:167px;
}

.u34 {
    position:absolute;
    left:2px;
    top:76px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u35_container {
    position:absolute;
    left:282px;
    top:522px;
    width:167px;
    height:35px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u37_container {
    position:absolute;
    left:471px;
    top:475px;
    width:167px;
    height:35px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:471px;
    top:298px;
    width:167px;
    height:167px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:167px;
}

.u40 {
    position:absolute;
    left:2px;
    top:76px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u41_container {
    position:absolute;
    left:471px;
    top:520px;
    width:167px;
    height:35px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../CadastroAddItemLateral_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:287px;
}

.u43 {
    position:absolute;
    left:648px;
    top:298px;
    width:10px;
    height:287px;
    
}

.u44_normal {
    background-image: url('../CadastroAddItemLateral_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:640px;
    top:301px;
    width:26px;
    height:14px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-1px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:125px;
    top:270px;
    width:242px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../CadastroAddItemLateral_files/u29_normal.png');
}

.u47_container {
    position:absolute;
    left:108px;
    top:477px;
    width:167px;
    height:35px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:41px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:163px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_container {
    position:absolute;
    left:108px;
    top:311px;
    width:152px;
    height:152px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:152px;
    height:152px;
}

.u50 {
    position:absolute;
    left:2px;
    top:68px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../CadastroAddItemLateral_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:754px;
    top:265px;
    width:62px;
    height:22px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:28px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_line {
    background-image: url('../CadastroAddItemLateral_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:0px;
    top:4px;
    width:172px;
    height:3px;
}

.u53 {
    position:absolute;
    left:697px;
    top:320px;
    width:172px;
    height:10px;
    
}

